@import 'variables';

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin button-style($bg-color, $text-color) {
  background-color: $bg-color;
  color: $text-color;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($bg-color, 10%);
  }
}
@mixin input-style($border-color, $bg-color, $text-color) {
  border: 1px solid $border-color;
  background-color: $bg-color;
  color: $text-color;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;

  &:focus {
    outline: none;
    border-color: darken($border-color, 10%);
  }
}